@model PoolPartyV2.Pages.Licencies.EditModel
@{
    ViewData["Title"] = "ManagerUserRoles";
    var userId = ViewBag.userId;
    int i = 0;
}

<h1>ManagerUserRoles</h1>

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Ajouter/suprimer un/des role(s)</h2>
        </div>
        <div class="card-body">
            @foreach (var userRole in Model.UserRoles)
            {
                <div class="form-check m-1">
                    <input asp-for="UserRoles[i].IsSelected" value="@userRole.IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="UserRoles[i].RoleName"></label>
                </div>
                i++;
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a asp-action="Licencies/Edit" asp-route-userId="userId"
               class="btn btn-primary">Retour</a>
        </div>
    </div>
</form>