@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur PoolParty-V2</h1>
    <p>Applicaation de gestion de compétition e-Sport et autre</p>
    <br />
    <h2><a asp-page="Licencies/Create"> Cliquer ici pour demander votre licence</a></h2>
    <br />
    <h2><a asp-page="Equipe/Create"> Cliquer ici pour demander la création d'une équipe</a></h2>

</div>
