@page
@model PoolPartyV2.Pages.MembreDeEquipe.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MembreEquipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MembreEquipe.ID" />
            <div class="form-group">
                <label asp-for="MembreEquipe.IDEquipe" class="control-label"></label>
                <input asp-for="MembreEquipe.IDEquipe" class="form-control" />
                <span asp-validation-for="MembreEquipe.IDEquipe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembreEquipe.IDLicencie" class="control-label"></label>
                <input asp-for="MembreEquipe.IDLicencie" class="form-control" />
                <span asp-validation-for="MembreEquipe.IDLicencie" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MembreEquipe.Confirmed" /> @Html.DisplayNameFor(model => model.MembreEquipe.Confirmed)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

